@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

500&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  outline: none;
  resize: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  top: 57px;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  z-index: 10;
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  position: relative;
  z-index: 4;
}

.header__menu li :hover {
  color: #144a8d;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  border-bottom: #144a8d solid 0.5px;
}

.header__menu.active {
  right: 0;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #34547A;
  padding: 50px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 10px;
}

.footer__name {
  margin-bottom: 20px;
  font-style: 21px;
  font-weight: 500;
}

.footer__info {
  font-style: 13px;
  font-weight: 400;
  line-height: 21px;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__developer {
  background-color: #EEEFF1;
  width: 100%;
  height: 100%;
}

.developer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 257px;
  padding-bottom: 146px;
}

.developer__img {
  margin-right: 143px;
}

.developer__img img {
  width: 100%;
  height: 100%;
}

.developer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

.box__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 78.75px;
  white-space: nowrap;
}

.box__text {
  max-width: 510px;
  font-size: 16px;
  color: #727272;
  line-height: 26px;
}

.box__btn {
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 35px;
  background-color: #34547A;
  max-width: 225px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
}

.box__btn:hover {
  background-color: #173254;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.page__about-me {
  text-align: center;
  margin-top: 119px;
  margin-bottom: 100px;
}

.about-me__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 37px;
}

.about-me__text {
  font-weight: 400;
  font-size: 16px;
  max-width: 540px;
  margin: 0 auto;
  line-height: 26px;
  color: #727272;
}

.page__project {
  background-color: #34547A;
  padding: 100px 0;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 49px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.project__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46px;
          flex: 0 0 46px;
}

.project__img img {
  width: 100%;
  height: 100%;
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  gap: 10px;
}

.info__amount {
  font-weight: 500;
  font-size: 21px;
}

.info__text {
  font-size: 16px;
  font-weight: 400;
}

.page__skils {
  margin: 100px 0;
}

.slils__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
}

.skikls__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 54px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
}

.options__title {
  white-space: nowrap;
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.options__item {
  font-style: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
  position: relative;
}

.options__item::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 4px;
  background-color: #34547A;
  z-index: 1;
}

.options__item::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #C4C4C4;
}

.skils__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 555px;
          flex: 0 1 555px;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}

.skils__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page__layout {
  padding: 100px 0;
  background-color: #EEEFF1;
}

.layout__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.layout__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.layout__text {
  text-align: center;
  max-width: 540px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 540px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user input {
  outline: none;
}

.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.user__info input {
  padding: 17px 20px;
  width: 255px;
}

.user__text {
  width: 100%;
}

.user__text textarea {
  width: 100%;
  height: 175px;
  padding: 17px 20px;
}

.user__btn {
  margin-top: 30px;
  width: 190px;
  height: 55px;
  color: white;
  background-color: #34547A;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.user__btn:hover {
  background-color: #173254;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.user__name {
  width: 100%;
}

.user__email {
  width: 100%;
}

.page__video {
  padding: 100px 0;
  background-color: #EEEFF1;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__title {
  font-size: 32px;
  font-weight: 500;
}

.video__text {
  text-align: center;
  max-width: 540px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.video {
  width: 100%;
  max-width: 1100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

.video iframe {
  min-width: 100%;
  height: 100%;
}

.page__works {
  padding: 20px 0;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  max-width: 480px;
}

.works__item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .developer__wrapper {
    padding-top: 130px;
    padding-bottom: 50px;
  }

  .developer__img {
    margin-right: 60px;
  }

  .page__about-me {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .page__project {
    padding: 40px 0;
  }

  .project__list {
    gap: 35px;
  }

  .project__box {
    gap: 15px;
  }

  .slils__container {
    gap: 100px;
  }

  .page__video {
    padding: 80px 0;
  }

  .video {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    min-height: 400px;
  }
}

@media (max-width: 767.98px) {
  .header {
    position: fixed;
    top: 0;
    padding: 10px 0;
    background-color: #EEEFF1;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #EEEFF1;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    gap: 55px;
  }

  .header__menu li :hover {
    border: none;
  }

  .menu__item {
    font-size: 25px;
    font-weight: 500;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    top: 5px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #34547A;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .developer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .developer__img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .developer__box {
    text-align: center;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .box__title {
    font-size: 34px;
  }

  .box__btn {
    width: 100%;
    padding: 20px 35px;
  }

  .page__about-me {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-me__title {
    line-height: 25px;
    margin-bottom: 40px;
  }

  .page__project {
    padding: 25px 0;
  }

  .project__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .page__skils {
    margin: 50px 0;
  }

  .options__title {
    line-height: 30px;
  }

  .skils__img {
    display: none;
  }

  .page__layout {
    padding: 50px 0;
  }

  .layout__conteiner {
    gap: 40px;
  }

  .user {
    gap: 30px;
    width: 100%;
  }

  .user__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .user__info input {
    width: 100%;
  }

  .user__text textarea {
    min-width: 320px;
  }

  .user__btn {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }

  .page__video {
    padding: 50px 0;
  }

  .video {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    min-height: 400px;
  }
}